@model List<StudentRecordViewModel>;


<h4>@ViewData["currWeek"]-я учебная неделя</h4>
<h4>@ViewData["groupName"], @ViewData["subgroup"]-я подгруппа</h4>
@{
    var dayOfWeek = 0;
    var TempSubjOrdNumb = 0;
    var lessonsForFourWeeks = new List<StudentRecordViewModel>();
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Время</th>
            <th colspan="2">1я неделя</th>
            <th colspan="2">2я неделя</th>
            <th colspan="2">3я неделя</th>
            <th colspan="2">4я неделя</th>
        </tr>
    </thead>
    <body>
        @for(var i = 0; i<Model.Count; i++)
        {
            if (Model[i].WeekDay != dayOfWeek)
            {
                dayOfWeek = Model[i].WeekDay;
                @Html.Partial("_DayName", dayOfWeek)
                TempSubjOrdNumb = 0;
            }

            

            if (Model[i].SubjOrdinalNumber == TempSubjOrdNumb)
            {
                lessonsForFourWeeks.Add(Model[i]);
                <tr>
                    @Html.Partial("_TimeTD", Model[i].SubjOrdinalNumber)
                    <td>@(Model[i].SubjectName) @(Model[i].IdRecord)</td>
                    <td rowspan="2" class="vertical-center">@Model[i].Classroom (день@(Model[i].WeekDay) нед@(Model[i].WeekNumber) ном@(Model[i].SubjOrdinalNumber))</td>

                </tr>
                <tr>
                    <td>@(Model[i].LectureName)</td>
                </tr>
            }
            else
            {
                TempSubjOrdNumb = Model[i].SubjOrdinalNumber;

                <tr>
                    <td>!</td>
                    <td rowspan="2" class="vertical-center">!</td>
                </tr>
                <tr>
                    <td>!</td>
                </tr>
                <tr>
                    @Html.Partial("_TimeTD", Model[i].SubjOrdinalNumber)
                    <td>@(Model[i].SubjectName) @(Model[i].IdRecord)</td>
                    <td rowspan="2" class="vertical-center">@Model[i].Classroom (день@(Model[i].WeekDay) нед@(Model[i].WeekNumber) ном@(Model[i].SubjOrdinalNumber))</td>

                </tr>
                <tr>
                    <td>@(Model[i].LectureName)</td>
                </tr>
            }
            
        }
    </body>
</table>
